@charset "UTF-8";

#admin-main{
	width: 1700px;
}

#admin-main section {
	display: flex;
	justify-content: center; /* 버튼 내부의 내용을 수평 가운데 정렬 */
 	align-items: center;
  	margin:85px;
  	margin-top: 100px;
  	padding: 70px;
}

#admin-main section button{
	width: 300px;
	height: 130px;
	font-size:35px; /* 글씨 크기 키우기 */
}

#admin-main section button:hover {
	background-color: darkorange;
}

#adminProduct{
	margin-top:100px;
}

