@charset "UTF-8";

#board-write-css {
	width: 1700px;
}

#board-write-css section {
	width: 1200px;
}

.form-group {
	margin-bottom: 20px;
}

.btn-group {
	margin-top: 20px;
}

#board-write-css section form {
	margin-top: 60px;
}

.text-right {
	margin-left: 1000px;
	margin-bottom: 50px;
}

/* 체크박스 커스텀 스타일 */
.form-group input[type=checkbox] {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.form-group label.checkbox-label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

.form-group label.checkbox-label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid cadetblue;
}

.form-group input[type="checkbox"]:checked+label.checkbox-label::before {
	border-color: black;
	/* 체크된 상태일 때 테두리 색 변경 */
	color: black;
	/* V 표시 색상 변경 */
	content: '\2714';
	/* V 표시(유니코드) */
	text-align: center;
	font-size: 15px;
	line-height: 17.5px;
	font-weight: bold;
	padding-top: 2.5px;
}