@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}

#page {
	width: 1600px;
	margin: 0;
	padding-left: 50px;
}

main {
	width: 1450px;
	margin-left: 100px;
	border: 1px dotted saddlebrown;
	min-height: 600px;
	display: flex;
	flex-direction: column;
}

.category-product {
	width: 500px;
	border: 1px solid gray;
	height: 500px;
	margin: auto 80px;
}

.category-product:hover {
    transform: scale(1.05); /* 마우스 커서가 위에 있을 때 이미지 크기를 1.1배로 확대 */

}

#best{
	width: 1200px;
	height: 250px;
	margin: auto;
	margin-bottom: 150px;
	margin-top: 50px;
}

section{
	display: flex;
	justify-content: center;
}

#ad{
	position: relative;
	left: 890px;
	bottom: 900px;
}






