@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}

#page {
	width: 1600px;
	margin: 0;
	padding-left: 20px;
}

main {
	width: 1400px;
	margin-left: 85px;
	border: 1px dotted saddlebrown;
	min-height: 600px;
	display: flex;
	flex-direction: column;
}





